<div class="header_container">
  <div class="blank_space">
    <%= link_to "Home", root_path %>
  </div>
  <div class="header_main">
    <div class="main">
      <%= link_to "Add a Category", new_category_path %>
      <h1 style="color:white">Eve Resources Organizer</h1>
      <%= link_to "Add a Link", new_link_path %>
    </div>
  </div>
    <div class="blank_space">
      <div class="blank_space_content">
        <%= link_to "Login", root_path %>
      </div>
    </div>
</div>
