<div class="container">
  <div class="content_div">
    <% if @categories.count == 0 %>
      <div class="button">
        <%= link_to "Generate", default_categories_path %>
      </div>
    <% else %>
      <div class="content">
        <ul style="columns: <%= @category_columns_count %>">
          <% @categories.each do |category| %>
          <li>
            <%= link_to "#{category.name}", category_path(category.id) %>
            <%= link_to "delete", category_path(category.id), method: :delete, data: { confirm: "Deleting a category will also delete all the links stored under it and this process is irreversible. Are you sure you want to continue?" } %>
          </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
